:root {
  --red: rgb(238, 95, 85);
  --dark-red: rgb(155, 56, 49);
  --grey: #f1f1f4;
  --text-color-dark: #333;
  --white: #f2f2f2;
  --font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

html {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-size: 1.2em;
}
h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
  font-weight: 750;
}
main {
  background: var(--grey);
  animation: fadeIn 0.4s;
  padding: 137px 0 0;
}
header {
  background-color: var(--red);
  padding: 0.1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
footer {
  background-color: var(--red);
  padding: 1.5em;
  text-align: center;
  font-weight: 750;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}
@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.grid-container > article {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
}
.grid-container > article:hover {
  box-shadow: 4px 8px 16px 8px var(--dark-red);
}
.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.dialog-container > article {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
}
.dialog-container img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
#detail-view-btn {
  font-size: 100%;
  padding: 1em 1em 1em;
  width: 100%;
  max-width: 150px;
  cursor: pointer;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
